<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>Afghanistan</string>
        <key>countryCode</key>
        <string>AF</string>
        <key>currencyCode</key>
        <string>AFN</string>
        <key>currencytSymbol</key>
        <string>؋</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Albania</string>
        <key>countryCode</key>
        <string>AL</string>
        <key>currencyCode</key>
        <string>ALL</string>
        <key>currencytSymbol</key>
        <string>Lek</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Algeria</string>
        <key>countryCode</key>
        <string>DZ</string>
        <key>currencyCode</key>
        <string>DZD</string>
        <key>currencytSymbol</key>
        <string>دج</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Antarctica</string>
        <key>countryCode</key>
        <string>AQ</string>
        <key>currencyCode</key>
        <string>XCD</string>
        <key>currencytSymbol</key>
        <string>$</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Argentina</string>
		<key>countryCode</key>
		<string>AR</string>
		<key>currencyCode</key>
		<string>ARS</string>
		<key>currencytSymbol</key>
		<string>$</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Aruba</string>
        <key>countryCode</key>
        <string>AW</string>
        <key>currencyCode</key>
        <string>AWG</string>
        <key>currencytSymbol</key>
        <string>ƒ</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Australia</string>
		<key>countryCode</key>
		<string>AU</string>
		<key>currencyCode</key>
		<string>AUD</string>
		<key>currencytSymbol</key>
		<string>$</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Azerbaijan</string>
        <key>countryCode</key>
        <string>AZ</string>
        <key>currencyCode</key>
        <string>AZN</string>
        <key>currencytSymbol</key>
        <string>ман</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Bahamas</string>
        <key>countryCode</key>
        <string>BS</string>
        <key>currencyCode</key>
        <string>BSD</string>
        <key>currencytSymbol</key>
        <string>$</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Bahrain</string>
        <key>countryCode</key>
        <string>BH</string>
        <key>currencyCode</key>
        <string>BHD</string>
        <key>currencytSymbol</key>
        <string>.د.ب</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Bangladesh</string>
        <key>countryCode</key>
        <string>BD</string>
        <key>currencyCode</key>
        <string>BDT</string>
        <key>currencytSymbol</key>
        <string>৳</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Barbados</string>
        <key>countryCode</key>
        <string>BB</string>
        <key>currencyCode</key>
        <string>BBD</string>
        <key>currencytSymbol</key>
        <string>$</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Belarus</string>
        <key>countryCode</key>
        <string>BY</string>
        <key>currencyCode</key>
        <string>BYR</string>
        <key>currencytSymbol</key>
        <string>p.</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Belgium</string>
        <key>countryCode</key>
        <string>BE</string>
        <key>currencyCode</key>
        <string>EUR</string>
        <key>currencytSymbol</key>
        <string>€</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Belize</string>
        <key>countryCode</key>
        <string>BZ</string>
        <key>currencyCode</key>
        <string>BZD</string>
        <key>currencytSymbol</key>
        <string>BZ$</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Bermuda</string>
        <key>countryCode</key>
        <string>BM</string>
        <key>currencyCode</key>
        <string>BMD</string>
        <key>currencytSymbol</key>
        <string>$</string>
    </dict>
   	<dict>
		<key>name</key>
		<string>Brazil</string>
		<key>countryCode</key>
		<string>BR</string>
		<key>currencyCode</key>
		<string>BRL</string>
		<key>currencytSymbol</key>
		<string>R$</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Brunei</string>
        <key>countryCode</key>
        <string>BN</string>
        <key>currencyCode</key>
        <string>BND</string>
        <key>currencytSymbol</key>
        <string>$</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Cambodia</string>
        <key>countryCode</key>
        <string>KH</string>
        <key>currencyCode</key>
        <string>KHR</string>
        <key>currencytSymbol</key>
        <string>៛</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Canada</string>
		<key>countryCode</key>
		<string>CA</string>
		<key>currencyCode</key>
		<string>CAD</string>
		<key>currencytSymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chile</string>
		<key>countryCode</key>
		<string>CL</string>
		<key>currencyCode</key>
		<string>CLP</string>
		<key>currencytSymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>name</key>
		<string>China</string>
		<key>countryCode</key>
		<string>CN</string>
		<key>currencyCode</key>
		<string>CNY</string>
		<key>currencytSymbol</key>
		<string>¥</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Colombia</string>
        <key>countryCode</key>
        <string>CO</string>
        <key>currencyCode</key>
        <string>COP</string>
        <key>currencytSymbol</key>
        <string>$</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Cuba</string>
        <key>countryCode</key>
        <string>CU</string>
        <key>currencyCode</key>
        <string>CUP</string>
        <key>currencytSymbol</key>
        <string>₱</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Czech Republic</string>
		<key>countryCode</key>
		<string>CZ</string>
		<key>currencyCode</key>
		<string>CZK</string>
		<key>currencytSymbol</key>
		<string>Kč</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Denmark</string>
		<key>countryCode</key>
		<string>DK</string>
		<key>currencyCode</key>
		<string>DKK</string>
		<key>currencytSymbol</key>
		<string>kr</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Egypt</string>
        <key>countryCode</key>
        <string>EG</string>
        <key>currencyCode</key>
        <string>EGP</string>
        <key>currencytSymbol</key>
        <string>£</string>
    </dict>
    <dict>
		<key>name</key>
		<string>Euro Member</string>
		<key>countryCode</key>
		<string>EU</string>
		<key>currencyCode</key>
		<string>EUR</string>
		<key>currencytSymbol</key>
		<string>€</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Falkland Islands</string>
        <key>countryCode</key>
        <string>FK</string>
        <key>currencyCode</key>
        <string>FKP</string>
        <key>currencytSymbol</key>
        <string>£</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Fiji</string>
		<key>countryCode</key>
		<string>FJ</string>
		<key>currencyCode</key>
		<string>FJD</string>
		<key>currencytSymbol</key>
		<string>$</string>
	</dict>
    <dict>
        <key>name</key>
        <string>France</string>
        <key>countryCode</key>
        <string>FR</string>
        <key>currencyCode</key>
        <string>EUR</string>
        <key>currencytSymbol</key>
        <string>€</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Germany</string>
        <key>countryCode</key>
        <string>DE</string>
        <key>currencyCode</key>
        <string>EUR</string>
        <key>currencytSymbol</key>
        <string>€</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Ghana</string>
        <key>countryCode</key>
        <string>GH</string>
        <key>currencyCode</key>
        <string>GHS</string>
        <key>currencytSymbol</key>
        <string>¢</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Gibraltar</string>
        <key>countryCode</key>
        <string>GI</string>
        <key>currencyCode</key>
        <string>GIP</string>
        <key>currencytSymbol</key>
        <string>£</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Greenland</string>
        <key>countryCode</key>
        <string>GL</string>
        <key>currencyCode</key>
        <string>DKK</string>
        <key>currencytSymbol</key>
        <string>kr</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Hungary</string>
		<key>countryCode</key>
		<string>HU</string>
		<key>currencyCode</key>
		<string>HUF</string>
		<key>currencytSymbol</key>
		<string>Ft</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Iceland</string>
        <key>countryCode</key>
        <string>IS</string>
        <key>currencyCode</key>
        <string>ISK</string>
        <key>currencytSymbol</key>
        <string>kr</string>
    </dict>
    <dict>
        <key>name</key>
        <string>India</string>
        <key>countryCode</key>
        <string>IN</string>
        <key>currencyCode</key>
        <string>INR</string>
        <key>currencytSymbol</key>
        <string>₹</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Indonesia</string>
		<key>countryCode</key>
		<string>ID</string>
		<key>currencyCode</key>
		<string>IDR</string>
		<key>currencytSymbol</key>
		<string>Rp</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Iran</string>
        <key>countryCode</key>
        <string>IR</string>
        <key>currencyCode</key>
        <string>IRR</string>
        <key>currencytSymbol</key>
        <string>﷼</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Iraq</string>
        <key>countryCode</key>
        <string>IQ</string>
        <key>currencyCode</key>
        <string>IQD</string>
        <key>currencytSymbol</key>
        <string>ع.د</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Ireland</string>
        <key>countryCode</key>
        <string>IE</string>
        <key>currencyCode</key>
        <string>EUR</string>
        <key>currencytSymbol</key>
        <string>€</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Israel</string>
		<key>countryCode</key>
		<string>IL</string>
		<key>currencyCode</key>
		<string>ILS</string>
		<key>currencytSymbol</key>
		<string>₪</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Italian Lira</string>
        <key>countryCode</key>
        <string>IT</string>
        <key>currencyCode</key>
        <string>ITL</string>
        <key>currencytSymbol</key>
        <string>₤</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Jamaica</string>
        <key>countryCode</key>
        <string>JM</string>
        <key>currencyCode</key>
        <string>JMD</string>
        <key>currencytSymbol</key>
        <string>J$</string>
    </dict>
    <dict>
		<key>name</key>
		<string>Japan</string>
		<key>countryCode</key>
		<string>JP</string>
		<key>currencyCode</key>
		<string>JPY</string>
		<key>currencytSymbol</key>
		<string>¥</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Jordan</string>
        <key>countryCode</key>
        <string>JO</string>
        <key>currencyCode</key>
        <string>JOD</string>
        <key>currencytSymbol</key>
        <string>JOD</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Kazakhstan</string>
        <key>countryCode</key>
        <string>KZ</string>
        <key>currencyCode</key>
        <string>KZT</string>
        <key>currencytSymbol</key>
        <string>лв</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Kenya</string>
        <key>countryCode</key>
        <string>KE</string>
        <key>currencyCode</key>
        <string>KES</string>
        <key>currencytSymbol</key>
        <string>KES</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Korea (North)</string>
        <key>countryCode</key>
        <string>KP</string>
        <key>currencyCode</key>
        <string>KPW</string>
        <key>currencytSymbol</key>
        <string>₩</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Korea (South)</string>
        <key>countryCode</key>
        <string>KR</string>
        <key>currencyCode</key>
        <string>KRW</string>
        <key>currencytSymbol</key>
        <string>₩</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Kuwait</string>
        <key>countryCode</key>
        <string>KW</string>
        <key>currencyCode</key>
        <string>KWD</string>
        <key>currencytSymbol</key>
        <string>د.ك</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Kyrgyzstan</string>
        <key>countryCode</key>
        <string>KG</string>
        <key>currencyCode</key>
        <string>KGS</string>
        <key>currencytSymbol</key>
        <string>лв</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Laos</string>
        <key>countryCode</key>
        <string>LA</string>
        <key>currencyCode</key>
        <string>LAK</string>
        <key>currencytSymbol</key>
        <string>₭</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Lebanon</string>
        <key>countryCode</key>
        <string>LB</string>
        <key>currencyCode</key>
        <string>LBP</string>
        <key>currencytSymbol</key>
        <string>£</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Liberia</string>
        <key>countryCode</key>
        <string>LR</string>
        <key>currencyCode</key>
        <string>LRD</string>
        <key>currencytSymbol</key>
        <string>$</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Libya</string>
        <key>countryCode</key>
        <string>LY</string>
        <key>currencyCode</key>
        <string>LYD</string>
        <key>currencytSymbol</key>
        <string>ل.د</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Macedonia</string>
        <key>countryCode</key>
        <string>MK</string>
        <key>currencyCode</key>
        <string>MKD</string>
        <key>currencytSymbol</key>
        <string>ден</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Malaysia</string>
        <key>countryCode</key>
        <string>MY</string>
        <key>currencyCode</key>
        <string>MYR</string>
        <key>currencytSymbol</key>
        <string>RM</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Mauritius</string>
        <key>countryCode</key>
        <string>MU</string>
        <key>currencyCode</key>
        <string>MUR</string>
        <key>currencytSymbol</key>
        <string>Rs</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Mexico</string>
		<key>countryCode</key>
		<string>MX</string>
		<key>currencyCode</key>
		<string>MXN</string>
		<key>currencytSymbol</key>
		<string>$</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Mongolia</string>
        <key>countryCode</key>
        <string>MN</string>
        <key>currencyCode</key>
        <string>MNT</string>
        <key>currencytSymbol</key>
        <string>₮</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Myanmar</string>
        <key>countryCode</key>
        <string>MM</string>
        <key>currencyCode</key>
        <string>MMK</string>
        <key>currencytSymbol</key>
        <string>K</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Namibia</string>
        <key>countryCode</key>
        <string>NA</string>
        <key>currencyCode</key>
        <string>NAD</string>
        <key>currencytSymbol</key>
        <string>$</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Nepal</string>
        <key>countryCode</key>
        <string>NP</string>
        <key>currencyCode</key>
        <string>NPR</string>
        <key>currencytSymbol</key>
        <string>Rs</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Netherlands</string>
        <key>countryCode</key>
        <string>NL</string>
        <key>currencyCode</key>
        <string>ANG</string>
        <key>currencytSymbol</key>
        <string>ƒ</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Niger</string>
        <key>countryCode</key>
        <string>NE</string>
        <key>currencyCode</key>
        <string>XOF</string>
        <key>currencytSymbol</key>
        <string>CFA</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Nigeria</string>
        <key>countryCode</key>
        <string>NG</string>
        <key>currencyCode</key>
        <string>NGN</string>
        <key>currencytSymbol</key>
        <string>₦</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Norway</string>
		<key>countryCode</key>
		<string>NO</string>
		<key>currencyCode</key>
		<string>NOK</string>
		<key>currencytSymbol</key>
		<string>kr</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Oman</string>
        <key>countryCode</key>
        <string>OM</string>
        <key>currencyCode</key>
        <string>OMR</string>
        <key>currencytSymbol</key>
        <string>﷼</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Pakistan</string>
		<key>countryCode</key>
		<string>PK</string>
		<key>currencyCode</key>
		<string>PKR</string>
		<key>currencytSymbol</key>
		<string>Rs</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Peru</string>
        <key>countryCode</key>
        <string>PE</string>
        <key>currencyCode</key>
        <string>PEN</string>
        <key>currencytSymbol</key>
        <string>S/.</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Philippines</string>
        <key>countryCode</key>
        <string>PH</string>
        <key>currencyCode</key>
        <string>PHP</string>
        <key>currencytSymbol</key>
        <string>₱</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Poland</string>
		<key>countryCode</key>
		<string>PL</string>
		<key>currencyCode</key>
		<string>PLN</string>
		<key>currencytSymbol</key>
		<string>zł</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Qatar</string>
        <key>countryCode</key>
        <string>QA</string>
        <key>currencyCode</key>
        <string>QAR</string>
        <key>currencytSymbol</key>
        <string>﷼</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Reunion</string>
        <key>countryCode</key>
        <string>RE</string>
        <key>currencyCode</key>
        <string>EUR</string>
        <key>currencytSymbol</key>
        <string>€</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Romania</string>
        <key>countryCode</key>
        <string>RO</string>
        <key>currencyCode</key>
        <string>RON</string>
        <key>currencytSymbol</key>
        <string>lei</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Russia</string>
		<key>countryCode</key>
		<string>RU</string>
		<key>currencyCode</key>
		<string>RUB</string>
		<key>currencytSymbol</key>
		<string>руб</string>
	</dict>
    <dict>
        <key>name</key>
        <string>San Marino</string>
        <key>countryCode</key>
        <string>SM</string>
        <key>currencyCode</key>
        <string>EUR</string>
        <key>currencytSymbol</key>
        <string>€</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Saudi Arabia</string>
        <key>countryCode</key>
        <string>SA</string>
        <key>currencyCode</key>
        <string>SAR</string>
        <key>currencytSymbol</key>
        <string>﷼</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Senegal</string>
        <key>countryCode</key>
        <string>SN</string>
        <key>currencyCode</key>
        <string>XOF</string>
        <key>currencytSymbol</key>
        <string>CFA</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Serbia</string>
        <key>countryCode</key>
        <string>RS</string>
        <key>currencyCode</key>
        <string>RSD</string>
        <key>currencytSymbol</key>
        <string>Дин.</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Seychelles</string>
        <key>countryCode</key>
        <string>SC</string>
        <key>currencyCode</key>
        <string>SCR</string>
        <key>currencytSymbol</key>
        <string>Rs</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Singapore</string>
		<key>countryCode</key>
		<string>SG</string>
		<key>currencyCode</key>
		<string>SGD</string>
		<key>currencytSymbol</key>
		<string>$</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Somalia</string>
        <key>countryCode</key>
        <string>SO</string>
        <key>currencyCode</key>
        <string>SOS</string>
        <key>currencytSymbol</key>
        <string>S</string>
    </dict>
    <dict>
        <key>name</key>
        <string>South Africa</string>
        <key>countryCode</key>
        <string>ZA</string>
        <key>currencyCode</key>
        <string>ZAR</string>
        <key>currencytSymbol</key>
        <string>S</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Spain</string>
        <key>countryCode</key>
        <string>ES</string>
        <key>currencyCode</key>
        <string>EUR</string>
        <key>currencytSymbol</key>
        <string>€</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Sri Lanka</string>
        <key>countryCode</key>
        <string>LK</string>
        <key>currencyCode</key>
        <string>LKR</string>
        <key>currencytSymbol</key>
        <string>Rs</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Sudan</string>
        <key>countryCode</key>
        <string>SD</string>
        <key>currencyCode</key>
        <string>SDG</string>
        <key>currencytSymbol</key>
        <string>ج.س.</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Suriname</string>
        <key>countryCode</key>
        <string>SR</string>
        <key>currencyCode</key>
        <string>SRD</string>
        <key>currencytSymbol</key>
        <string>$</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Swaziland</string>
        <key>countryCode</key>
        <string>SZ</string>
        <key>currencyCode</key>
        <string>SZL</string>
        <key>currencytSymbol</key>
        <string>L</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Sweden</string>
        <key>countryCode</key>
        <string>SE</string>
        <key>currencyCode</key>
        <string>SEK</string>
        <key>currencytSymbol</key>
        <string>kr</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Switzerland</string>
        <key>countryCode</key>
        <string>CH</string>
        <key>currencyCode</key>
        <string>CHF</string>
        <key>currencytSymbol</key>
        <string>CHF</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Syria</string>
        <key>countryCode</key>
        <string>SY</string>
        <key>currencyCode</key>
        <string>SYP</string>
        <key>currencytSymbol</key>
        <string>£</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Taiwan</string>
        <key>countryCode</key>
        <string>TW</string>
        <key>currencyCode</key>
        <string>TWD</string>
        <key>currencytSymbol</key>
        <string>NT$</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Tajikistan</string>
        <key>countryCode</key>
        <string>TJ</string>
        <key>currencyCode</key>
        <string>TJS</string>
        <key>currencytSymbol</key>
        <string>TJS</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Thailand</string>
		<key>countryCode</key>
		<string>TH</string>
		<key>currencyCode</key>
		<string>THB</string>
		<key>currencytSymbol</key>
		<string>฿</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Turkey</string>
        <key>countryCode</key>
        <string>TR</string>
        <key>currencyCode</key>
        <string>TRY</string>
        <key>currencytSymbol</key>
        <string>₤</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Turkmenistan</string>
        <key>countryCode</key>
        <string>TM</string>
        <key>currencyCode</key>
        <string>TMT</string>
        <key>currencytSymbol</key>
        <string>T</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Uganda</string>
        <key>countryCode</key>
        <string>UG</string>
        <key>currencyCode</key>
        <string>UGX</string>
        <key>currencytSymbol</key>
        <string>USh</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Ukraine</string>
        <key>countryCode</key>
        <string>UA</string>
        <key>currencyCode</key>
        <string>UAH</string>
        <key>currencytSymbol</key>
        <string>₴</string>
    </dict>
    <dict>
        <key>name</key>
        <string>United Arab Emirates</string>
        <key>countryCode</key>
        <string>AE</string>
        <key>currencyCode</key>
        <string>AED</string>
        <key>currencytSymbol</key>
        <string>د.إ</string>
    </dict>
    <dict>
        <key>name</key>
        <string>United Kingdom</string>
        <key>countryCode</key>
        <string>GB</string>
        <key>currencyCode</key>
        <string>GBP</string>
        <key>currencytSymbol</key>
        <string>$</string>
    </dict>
	<dict>
		<key>name</key>
		<string>United States</string>
		<key>countryCode</key>
		<string>US</string>
		<key>currencyCode</key>
		<string>USD</string>
		<key>currencytSymbol</key>
		<string>$</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Uzbekistan</string>
        <key>countryCode</key>
        <string>UZ</string>
        <key>currencyCode</key>
        <string>UZS</string>
        <key>currencytSymbol</key>
        <string>лв</string>
    </dict>
	<dict>
		<key>name</key>
		<string>Viet Nam</string>
		<key>countryCode</key>
		<string>VN</string>
		<key>currencyCode</key>
		<string>VND</string>
		<key>currencytSymbol</key>
		<string>₫</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Yemen</string>
        <key>countryCode</key>
        <string>YE</string>
        <key>currencyCode</key>
        <string>YER</string>
        <key>currencytSymbol</key>
        <string>﷼</string>
    </dict>
   </array>
</plist>
